*{
    margin:0;
    padding: 0;
}
.box{
    width: 750px;
    height: 400px;
    background-color: green;
    position: relative;
    
}
.circle{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: auto;
   top: 0px;
   left: 0px;
   border-radius: 100px;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header-top{
 
    background-color: cadetblue;
    color: rgb(149, 240, 31);
    height: 100px;
    text-align: center;
  
}
.header-top>h1{
    padding-top: 20px;
}
.main{
    background-color: blueviolet;
    color: bisque;

}